<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}Painel Financeiro{% endblock %}</title>

  <!-- Fonte do Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />

  <!-- CSS externo -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav class="navbar">
  <a href="/">Início</a> |
  <a href="/registrar">Registrar</a>
</nav>

<div class="container">
  {% block content %}{% endblock %}
</div>

<footer>
  <p>Projeto para estudos de Hiroshi Yatabe - {{ now.year }}</p>
</footer>

</body>
</html>
